<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PropertyManagement_Client</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>Landing.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>E:\Workspace\275_Project_EstateAgent\PropertyManagement_Client\WebContent\images\</param-value>
  </context-param>
  <servlet>
    <servlet-name>AddMod</servlet-name>
    <servlet-class>com.propertymanagement.servlets.ModifyAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMod</servlet-name>
    <url-pattern>/AddMod</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AMail</servlet-name>
    <servlet-class>com.propertymanagement.servlets.AgentMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AMail</servlet-name>
    <url-pattern>/AMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VAdd</servlet-name>
    <servlet-class>com.propertymanagement.servlets.ViewAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VAdd</servlet-name>
    <url-pattern>/VAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SOut</servlet-name>
    <servlet-class>com.propertymanagement.servlets.Signout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SOut</servlet-name>
    <url-pattern>/SOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SAdd</servlet-name>
    <servlet-class>com.propertymanagement.servlets.SearchAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SAdd</servlet-name>
    <url-pattern>/SAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateAd</servlet-name>
    <servlet-class>com.propertymanagement.servlets.CreateAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAd</servlet-name>
    <url-pattern>/CreateAd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>com.propertymanagement.servlets.UploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ULogin</servlet-name>
    <servlet-class>com.propertymanagement.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ULogin</servlet-name>
    <url-pattern>/ULogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BLocPref</servlet-name>
    <servlet-class>com.propertymanagement.servlets.LocationPref</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BLocPref</servlet-name>
    <url-pattern>/BLocPref</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BSignUp</servlet-name>
    <servlet-class>com.propertymanagement.servlets.BuyerSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BSignUp</servlet-name>
    <url-pattern>/BSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUpp</servlet-name>
    <servlet-class>com.propertymanagement.servlets.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpp</servlet-name>
    <url-pattern>/SignUpp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LandingInfo</servlet-name>
    <servlet-class>com.propertymanagement.servlets.Landing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LandingInfo</servlet-name>
    <url-pattern>/LandingInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ASignup</servlet-name>
    <servlet-class>com.propertymanagement.servlets.AgentSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ASignup</servlet-name>
    <url-pattern>/ASignup</url-pattern>
  </servlet-mapping>
</web-app>